DATABASE_URL=sqlite+aiosqlite:///./piper.db
ADMIN_PASSWORD=secret

# Blockchain Config
# DIFFICULTY=4
# BLOCK_REWARD_COINS=3
# MAX_TX_PER_BLOCK=10
# INITIAL_SUPPLY_COINS=1000
# UNITS_PER_COIN=1000
# COIN_NAME=Piper
# UNIT_NAME=Pips